:root {
    --vp-home-hero-image-background-image: radial-gradient(circle, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%);
    --vp-home-hero-image-filter: blur(45px);
  
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: linear-gradient(to right bottom,#fff 30%,hsla(0,0%,100%,.5));

    --vp-c-brand: white;
    --vp-c-brand-1: white;
    --vp-c-brand-2: rgb(220, 220, 220);
    --vp-c-brand-3: rgb(200, 200, 200);

    [class*='DocSearch'] {
        --docsearch-primary-color: rgba(255, 255, 255, 0.3);
    }

    --vp-button-brand-text: black;
    --vp-button-brand-hover-bg: rgba(255, 255, 255, 0.9);
    --vp-button-brand-hover-text: black;

    --vp-c-brand-light: white;
    --vp-c-brand-dark: white;

    --vp-button-brand-bg: white;
    --vp-button-brand-hover-border: white;
    --vp-button-brand-active-border: white;
    --vp-button-brand-border: white;
    --vp-button-brand-active-bg: white;

    .VPNavBarMenuLink {
        color: var(--vp-c-brand-3)
    }
}

@media (min-width: 640px) {
    :root {
      --vp-home-hero-image-filter: blur(56px);
    }
  }
  
@media (min-width: 960px) {
    :root {
      --vp-home-hero-image-filter: blur(68px);
    }
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.belarus {
    width: 20px;
    height: 12px;

    border-radius: 2px;
}